{% extends "base.html" %}
{% block pageTitle %}Feladatok{% endblock %}
{% block subtitle %}Feladat(ok){% endblock %}
{% block button %}
<div class="col-md-4 col-xs-4 col-4"></div>
<div class="btn-container col-md-4 col-xs-4 col-4" style="display: flex; justify-content: center; align-items: center;">
    <button type="button" id="btnFeladatok" class="btn btn-success" onclick="location.href='/done_list'" style="margin-left: 1px;">Feladatok</button>
    <button type="button" id="btnCsoportok" class="btn btn-success" style="margin-left: 1px;">Csoportok</button>
    <button type="button" id="btnKeszFeladatok" class="btn btn-success" onclick="location.href='/done_list'" style="margin-left: 1px;">Kész feladatok</button>
</div>
<div class="col-md-4 col-xs-4 col-4">
</div>
{% endblock %}
{% block activity %}
<br>
    <div class="row">
        <div class="col-md-12 text-center"><form action="/" method="post">
            <input type="text" name="Feladat" id="feladat" placeholder="Feladat leírása" class="col-md-3 col-sm-12">
            <input type="number" name="Prioritas" id="prioritas" placeholder="Prioritás" class="col-md-3 col-sm-12">
            <input type="text" name="Csoport" id="csoport" placeholder="Csoport" class="col-md-3 col-sm-12">
            <input type="submit" value="Feladat hozzáadása" class="col-md-3 col-sm-12">
        </form></div>
    </div>
{% endblock %}
{% block optional %}
<div class="row titleRow">
    <div class="col-md-3 col-sm-3 d-flex align-content-center flex-wrap description">Feladat leírása</div>
    <div class="col-md-1 col-sm-2 d-flex align-content-center flex-wrap">Prioritás</div>
    <div class="col-md-2 col-sm-2 d-flex align-content-center flex-wrap">Csoport</div>
    <div class="col-md-2 col-sm-2 d-flex align-content-center flex-wrap text-left">Módosítás dátuma</div>
</div>
{% endblock %}
{% block content %}
<style>
    .titleRow > div {
        word-wrap: break-word;
    }
    
    .listRow > div {
        word-break: break-all;
    }

    .titleRow .description {
        font-size: xx-large;
    }

    .listRow {
        background-color: rgba(174, 175, 174, 0.500);
        border-radius: 7px;
    }

    .listRow .description {
        font-size: x-large;
    }

    .btn {
        padding: 0.25em;
    }
</style>
<br>
{% for feladat in feladatok %}
    <div class="row listRow">
        <div class="col-md-3 col-sm-3 d-flex align-content-center flex-wrap description">{{ feladat.feladat }}</div>
        <div class="col-md-1 col-sm-2 d-flex align-content-center flex-wrap">{{ feladat.prioritas }}</div>
        <div class="col-md-2 col-sm-2 d-flex align-content-center flex-wrap">{{ feladat.csoport }}</div>
        <div class="col-md-2 col-sm-2 d-flex align-content-center flex-wrap">{{ feladat.datum.date() }}</div>
        <div class="col-md-4 col-sm-3 d-flex align-content-center flex-wrap">
            <button type="button" class="btn btn-warning" onclick="location.href='/update/{{feladat.id}}'" style="margin-right: 2px;">Módosít</button>
            <button type="button" class="btn btn-success" onclick="location.href='/done/{{feladat.id}}'" style="margin-right: 2px;">Kész</button>
            <button type="button" class="btn btn-danger" onclick="location.href='/delete/{{feladat.id}}'">Töröl</button>
        </div>
    </div>

    <br>
{% endfor %}
{% endblock %}