{% extends "base.html" %}
{% block pageTitle %}Feladatok{% endblock %}
{% block subtitle %}Feladat(ok){% endblock %}
{% block button %}Csoportok{% endblock %}
{% block activity %}
<br>
    <div class="row">
        <div class="col-md-12 text-center"><form action="/" method="post">
            <input type="text" name="Feladat" id="feladat" placeholder="Feladat leírása">
            <input type="number" name="Prioritas" id="prioritas" placeholder="Prioritás">
            <input type="text" name="Csoport" id="csoport" placeholder="Csoport">
            <input type="submit" value="Feladat hozzáadása">
        </form></div>
    </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 d-flex align-content-center flex-wrap h2">Feladat leírása</div>
    <div class="col-md-1 d-flex align-content-center flex-wrap">Prioritás</div>
    <div class="col-md-1 d-flex align-content-center flex-wrap">Csoport</div>
    <div class="col-md-2 d-flex align-content-center flex-wrap text-center">Módosítás dátuma</div>
</div>

<br>
{% for feladat in feladatok %}
    <div class="row">
        <div class="col-md-2 d-flex align-content-center flex-wrap"></div>
        <div class="col-md-3 d-flex align-content-center flex-wrap h4">{{ feladat.feladat }}</div>
        <div class="col-md-1 d-flex align-content-center flex-wrap">{{ feladat.prioritas }}</div>
        <div class="col-md-1 d-flex align-content-center flex-wrap">{{ feladat.csoport }}</div>
        <div class="col-md-2 d-flex align-self-center flex-wrap">{{ feladat.datum.date() }}</div>
        <div class="col-md-3 d-flex align-content-center flex-wrap text-left">
            <button type="button" class="btn btn-warning" style="margin-right: 2px;">Módosít</button>
            <button type="button" class="btn btn-success" style="margin-right: 2px;">Kész</button>
            <button type="button" class="btn btn-danger">Töröl</button>
        </div>
    </div>

    <hr>
{% endfor %}
{% endblock %}